.custom-button:hover {
    cursor: pointer;
}

.custom-button {
    height: 2.5rem;
    width: 100%;
    background: linear-gradient(to right, #fcb043, #e8433b);
    box-shadow: var(--shadow);

    span {
        color: rgba(255, 255, 255, 0.8);
    }
}

.custom-button:disabled {
    background: rgba(200, 200, 200, 0.5);
    cursor: not-allowed;

    span {
        color: rgba(0, 0, 0, 0.8);
        text-transform: none !important;
    }
}
