.custom-input {
    width: 100%;
    background: var(--background) !important;

    &:hover {
        .MuiOutlinedInput-notchedOutline {
            border-color: rgba(0, 0, 0, 0.35) !important;
        }
    }

    & div {
        border-radius: var(--border-radius);
    }

    .MuiInputBase-input::placeholder {
        color: var(--cinza-3);
        opacity: 1;
    }
}

.custom-input .MuiOutlinedInput-root.Mui-focused {
    svg {
        /* Altera cor do svg */
        color: var(--tertiary-color);
    }
}
