.custom-input {
    width: 100%;
    background: var(--background) !important;

    &:hover {
        .MuiOutlinedInput-notchedOutline {
            border-color: rgba(0, 0, 0, 0.35) !important;
        }
    }

    & div {
        border-radius: var(--border-radius);
    }
}

.custom-input {
    label {
        font-size: 0.8rem;
    }
}

.custom-input label.Mui-focused {
    /* Altera cor do label flutuante */
    color: var(--text-primary);
}

.custom-input .MuiOutlinedInput-root.Mui-focused {
    svg {
        /* Altera cor do svg */
        color: var(--tertiary-color);
    }
}
