.custom-select {
    width: 100%;
    position: relative;

    & div {
        border-radius: var(--border-radius);
    }
}

html[data-contrast='high'] .select__single-value {
    color: #ffffff !important;
}
