.custom-button {
    height: 2.5rem;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius) !important;

    span {
        color: rgba(0, 0, 0, 0.8);
        text-transform: none;
    }

    &:hover {
        cursor: pointer;
        filter: brightness(1.15);
    }

    &--primary {
        background: var(--tertiary-color) !important;

        span {
            color: white;
        }
    }

    &--secondary {
        background: transparent;
        border: 1px solid black;
    }

    &.Mui-disabled {
        background: rgba(200, 200, 200, 0.5);
        cursor: not-allowed;

        span {
            color: rgba(0, 0, 0, 0.8);
        }
    }
}
